{% extends 'templates/app.twig' %}

{% block content %}

<!-- BEGIN PAGE CONTAINER -->
	{# <div class="header"> #}
		{# <div class="container"> #}
        <div class="navbar-header">

		<div class="row">
			<div class="col-md-12 text-center margin-top-40 margin-bottom-20">
				{# Vous connaitrez l'historique de notre club. #}
			</div>
		</div>
			<!-- BEGIN SIDEBAR & CONTENT -->
			<div class="row">

				<!-- BEGIN CONTENT -->
				<div class="col-md-12">
					{# <div class="content-page"> #}
						<div class="row">

							<!-- BEGIN SERVICE BLOCKS -->
							<div class="col-md-12 text-justify">
								<div class="row">
									<div class="col-md-6">
										<div class="service-box-v1">
											<div class="text-center"><i class="fa fa-users"></i></div>
											<h2 class="text-center">{# {{ expert }} #}</h2>
											<p>Elsa Audouin et Aurélien Arnaud ont étudiés la typographie et l'édition avant de fonder La Direction en 2013, studio spécialisé dans le développement d'identité. Vous pouvez venir voir comment les gens bossent dur pour ne pas tomber malade. Ne vous en faites pas, vous allez vous en sortir avec le travail bien fait.</p>
										</div>
									</div>
									<div class="col-md-6">
										<div class="service-box-v1">
											<div class="text-center"><i class="fa fa-user-plus"></i></div>
											<h2  class="text-center">{# {{ diplomate }} #}</h2>
											<p>Les carrières des hauts fonctionnaires français sont, plus que dans d’autres pays, marquées par l’importance de la formation initiale et de certaines grandes écoles (École nationale d’administration, École polytechnique, etc.). Au ministère des affaires étrangères cohabitent des diplomates issus de l’ENA avec d’autres venus de formations plus spécifiques. Bien que pouvant prétendre aux mêmes types de postes, l’observation montre que leurs parcours ne seront pas tout à fait identiques.</p>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="service-box-v1">
											<div  class="text-center"><i class="fa fa-wifi"></i></div>
											<h2  class="text-center">Un plan bien fait</h2>
											<p>Services de plans, calcul d'itinéraires et guide d'adresses pour préparer vos déplacements sur toutes les routes de France et d’Europe. Mappy vous permet de calculer votre itinéraire en voiture avec les conditions de trafic en temps réel. Vous pouvez également calculer un itinéraire en transports en commun, à pied, à vélo, en train, en bus, en avion et en covoiturage.</p>
										</div>
									</div>
									<div class="col-md-6">
										<div class="service-box-v1">
											<div  class="text-center"><i class="fa fa-phone"></i></div>
											<h2  class="text-center">La téléphonie</h2>
											<p>Avec des milliers de références, le marché de la téléphonie est en perpétuelle évolution. Mais entre des options parfois superflues et des prix qui vont du simple au double, il n'est pas toujours aisé de choisir un téléphone et un forfait adaptés à ses besoins au meilleur rapport qualité/prix. Nos experts ont testé et comparé des téléphones mobiles, smartphones, montres connectées, opérateurs de téléphonie, etc. Découvrez également toutes nos prises en main, actualités, enquêtes, études et décryptages sur le sujet.</p>
										</div>
									</div>
								</div>
							</div>
							<!-- END SERVICE BLOCKS -->
						</div>
					{# </div> #}
				</div>
			</div>
	{# 	</div> #}
{# 	</div> #}
<!-- END CONTENT -->
{% endblock %}
